#messageContainer {
	width: 80%;
	max-width: 1200px;
}

#messageContainer div {
	background-color: #ccc;
	padding: 5px;
}

#messageContainer div:nth-child(2n) {
	background-color: #fff;
}

#sendContainer {
	position: fixed;
	padding-bottom: 30px;
	bottom: 0;
	background-color: white;
	max-width: 1200px;
	width: 80%;
	display: flex;
}

#messageInput {
	flex-grow: 1;
}
